/*
1. Evaluate HTML
2. Code HTML100
3. Evaluate styles (typography, colors, page layout)
4. Code CSS, one type of style at a time

** Work in logical steps, and when something looks good, commit
*/

body {
  font-family: Helvetica, sans-serif;
  color: rgb(57,57,57);
  margin: 0;
}

header {
  background-color: rgb(43,154,183);
}

.title-header {
  padding: 2em 15%;
}

h1 {
  color: white;
  margin: 0;
}

h2 {
  color: white;
  font-size: 105%;
  font-style: italic;
  font-weight: normal;
  width: 13em;
}

nav {
  background-color: rgb(235,235,235);
  padding: 1.7em 15%;
  font-size: 70%;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: rgb(57,57,57);
  font-size: 100%;
  margin: 0 0.5em;
}

nav a:hover {
  color: rgb(82,185,212);
}

.content {
  padding: 15px 15% 50px 15%;
  font-size: 11px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 30px;
}

.left-content {
  grid-column: 1;
}

aside {
  grid-column: 2;
}

h4 {
  color: rgb(43,154,183);
  font-size: 14px;
  font-weight: bold;
}

.blue-text {
  color: rgb(82,185,212);
}

.pull-quote {
  color: rgb(82,185,212);
  font-size: 16px;
  font-weight: 500;
  margin: 3em 0;
}

h3 {
  font-size: 20px;
}

aside a {
  text-decoration: none;
  color: rgb(82,185,212);
}

aside img {
  /* QUESTION: Why doesn't this shrink the image to the width of the aside?
  object-fit: contain; */
  width: 220px;
}

footer {
  background-color: rgb(57,57,57);
  text-align: center;
  padding: 4em 0;
}

footer p {
  color: white;
  width: 340px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.8em;
}

footer a {
  text-decoration: none;
  color: white;
  margin: 1em;
}

.footer-logo {
  width: 240px;
}
